* {
	padding:0em;
	margin:0;
	font-size:100%;
	line-height:1em;}

body{min-height:100%;}

/*---Nav---*/

.logo{padding:1em 0em 1em 1em;width:6em;}

nav{ position:fixed; z-index:2;}

/*---Main Images---*/

#home-page-awards{margin:0 10% 0 10%; padding-top:10%;}

#award-list{list-style-type:none; padding:1em 0em 1em 0em;}

#award-list-item{display:inline-block; position:relative;}

.awards{height:40em;} 

.zoom {transition:transform .2s;}

.zoom:hover {
    -ms-transform:scale(1.1);
    -webkit-transform:scale(1.1);
    transform:scale(1.1); }

/*---Individual Pages---*/

#year-page{margin:0 20% 0 20%; padding-top:10%;}

h2{font-family: 'Lora', serif;
    font-size:4em;
    text-align:center;
    padding:0 0 1em 0;}

p{  font-family: 'Lora', serif;
    padding:1.3em 15% 1.3em 15%;
	line-height:1.5em;
	font-size:100%;
	color:#666666;}

.artist-name{font-weight:bolder;
    padding:1.3em 10% 0 20%;
	line-height:1.5em;
	font-size:130%;
	color:#666666;}

.artist-info{font-family: 'Lora', serif;
    padding:1.3em 10% 0 20%;
	line-height:1.5em;
	font-size:100%;
	color:#666666;}

#about{padding-bottom:3%;}

.clearfix::after {
  content:"";
  clear:both;
  display:table;}

.artist-page-image{float:left; height:35em; padding:1% 5% 10% 10%;}

/*---Footer---*/

.footer-line{width:90%; margin:5% 0 1% 5%; border:1px solid #000000;}

footer{font-size:.7em;
	text-align:center;
	left:0;
	margin:0;
	width:100%;
    clear:both;
    position:relative;}

.footer-link{color:#666666; font-family:'Lora',serif; padding-top:1.1em;}

.footer-link a{color:#000000; text-decoration:none;}

.bottom-section{bottom:0; width:100%; margin-bottom:3%;}

/*----MEDIA QUERIES-----*/

/*---TABLET---*/

@media (max-width:979px) {

.awards{height:23em;} 

#year-page{margin:0 5% 0 5%; padding-top:17%;}

.artist-name{font-size:120%;}

.artist-info{font-size:90%;}
    
.artist-page-image{float:left; height:30em; padding:1% 5% 10% 10%;}

}
	
/*---SMARTPHONE---*/

@media (max-width:414px) {

/*---Nav---*/

.logo{width:4em;}

/*---Main Images---*/

#home-page-awards{margin:0 5% 0 5%; padding:1em 2em 0em 2em;}

.awards{height:20em; padding-bottom:1em;} 

/*---Individual Pages---*/

#year-page{margin:0 2% 0 2%; padding-top:30%;}

h2{font-size:3em; padding:0 0 0.2em 0;}

.artist-name{text-align:center; padding:1em 20% 0 20%; font-size:120%;}

.artist-info{padding:1.3em 10% 0 10%; font-size:80%;}

.artist-page-image{width:80%; padding:1% 10% 10% 10%;}

/*---Footer---*/

.footer-line{border:.5px solid #000000;}

footer{font-size:.5em;}

}
